
  <div class="form"><%= bootstrap_form_for [@admin, @product] do |p| %>

    <%= p.text_field :name, autofocus: true %>

    <%= p.text_field :price, prepend: "$" %>
    <div class="row">
      <div class="col-md-6">
        <%= p.text_field :size %>
      </div>
      <div class="col-md-6">
        <%= p.text_field :quantity %>
      </div>
    </div>
    <%= p.text_area :description %>

    <%= p.submit class: "btn btn-info"%>

    <%= link_to '<- Back', root_path, class: "btn btn-default" %>
    <% end %>
  </div>

