<h1><%= @product.name %></h1>

<h2>Price: <%= @product.price %></h2>
<h2>QTY: <%= @product.quantity %></h2>
<h2>Size: <%= @product.size %></h2>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
<%= link_to 'Delete', product_path(@product), class: "btn btn-default", method: :delete%>


