<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <% if current_admin %>
        <%= link_to "Log-Out", destroy_admin_session_path, method: :delete, class: "btn navbar-brand"  %>
        <p class="navbar-brand">Welcome <%= current_admin.username.capitalize %></p>
      <% else %>
        <%= link_to "Log-In", new_admin_session_path, class: "navbar-brand" %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <%= form_tag(admin_products_path, method: :get, class: "navbar-form navbar-left", id: "search-form") do %>
        <div class="form-group input-append">
          <%= text_field_tag :search, params[:search], class: "span2 form-control", placeholder: "Search Products" %>
        <button type="submit" class="btn btn-default">Search</button>
        </div>

    <% end %>



      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home Page', root_path, class: "navbar-brand" %></li>
        <li><%= link_to 'Settings', settings_path, class: "navbar-brand" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


</style>
</head>
<body>
  <!-- HTML for SEARCH BAR -->
  <div id="tfheader">
    <form id="tfnewsearch" method="get" action="http://www.google.com">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
    </form>
  <div class="tfclear"></div>
  </div>
</body>
</html>

